<h1>Welcome to Mortal Kombat!</h1>
<h2>Enter your names ans select your characters</h3>
<form action='/names' method='post'>
  <h3>Enter Player 1:</h3>
  <input type='text' name='player1'>
  <br>
  <h3>Enter Player 2:</h3>
  <input type='text' name='player2'>
  <br>
  <input type='submit' value='Submit'>
</form>
