<h1>Welcome to Mortal Kombat!</h1>
<h2>Enter your name and select your character</h3>
<form action='/names' method='post'>
  <h3>Enter Player 1:</h3>
  <input type='text' name='player1'>
  <br>
  <input type='text' name='player2' style="display: none;" value="X89Fgst73hqu4a">
  <br>
  <input type='submit' value='Submit'>
</form>
